.nosotros-section {
    max-width: 90vw;
    margin: 0 auto;
}

.section-title {
  margin-top: 0;
  text-decoration: none;
  background-color: #f0f0f0;
  color: rgb(23, 107, 224);
}

.trayectoria-image {
  margin: 0 auto;
}

.filosofia-image {
  padding: 1.5rem 0;
  max-width: 50vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.h3-title {
  text-decoration: underline;
}

.item-innovacion .h3-title, .item-innovacion {
  color: orange;
}

.item-compromiso .h3-title, .item-compromiso {
  color: blue;
}

.item-valores .h3-title, .item-valores {
  color: green;
}

.item-especializacion .h3-title, .item-especializacion {
  color: magenta;
}

.innovacion-list-columns {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.innovacion-list-columns ul {
  flex: 1;
  list-style: disc inside;
  padding-left: 0;
}

@media (max-width: 768px) {
  .trayectoria-image {
    max-width: 270px !important;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .innovacion-list-columns {
  flex-direction: column;
  gap: 0rem;
  }
}
